.btn {
  background-color: $color-blue;
  border: none;
  border-radius: 3px;
  color: $color-white;
  outline: 0;

  &:hover {
    background-color: $color-orange;
    cursor: pointer;
  }

  &__donate {
    font-size: 1.6rem;
    padding: 0.8rem 2.5rem;
  }

  &__header {
    border-radius: 5px;
    font-size: 4vh;
    font-weight: 600;
    padding: 1.5rem 3rem;

    @include respond(tab-land) {
      font-size: 4.5rem;
    }

    @include respond(mic-l) {
      font-size: 2.5rem;
    }
  }

  &__services {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin: auto;
    padding: 1rem 2rem;

    @include respond(mic-l) {
      font-size: 3.8rem;
    }
  }

  &__dollar {
    background-color: #e5e5e5;
    color: $color-black;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }

  &__small-donate {
    border-radius: 4px;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10%;
    padding: 1rem 4rem;

    @include respond(mic-l) {
      font-size: 3rem;
      padding: 1rem 2rem; 
    }

  }

  &__subscribe {
    display: block;      
    padding: 0.8rem;
    font-weight: 600;
    margin-top: 2%;

    @include respond(nex-7) {
      font-size: 4rem;
      margin-top: 4%;
      padding: 1rem 3rem;
    }

    @include respond(nex-9) {
      font-size: 2.2vh;
    }

    @include respond(l-phone) {
      font-size: 3.2vh;
    }
  }
}
