.donate {
  &__box {
    //background: url(../../../assets/img/donate-bg.jpg);   
    background: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://res.cloudinary.com/eddy983/image/upload/v1536136979/My%20images/donate-bg.jpg);     
    //linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));  
    background-position: center;      
    background-size: cover; 
    display: -ms-grid;
    display: grid;
    justify-items: center;
    padding: 5% 0;
    -ms-grid-rows: 1fr 1fr; 

    @include respond(mic-l) {
      justify-items: start;
      padding: 5% 3%;
    }

    &__amount {
      margin-bottom: 2%;
    }

    &__input {
      height: 2.8rem;
      outline: 0;
      width: 33rem;

      @include respond(mic-l) { 
        border-radius: 1rem;
        height: 4.4rem;
      }
    }

    &__textarea {
      outline: 0;
      width: 36rem;
    }
  }



}