.product {
  @include margin-land; 

  &__logo {
    display: block;
    margin: auto; 

    @include respond(4k-desk) {
      height: 13rem; 
    }

    @include respond(pix-2) {
      height: 10rem; 
    }
  }

  &__title {
    width: 100%;

    @include respond(mic-l) {
     @include center-title; 
    }

    &__line {
      @include landing-line;
    }
  }
  
  &__text {
    margin-top: 3%; 
    
    @include respond(mic-l) {
      margin-top: 6%;   
    }
  }
}