body {
  color: $color-black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.about-title {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.09rem;
}

.services-font {
  font-size: 1.8rem;

  @include respond(tab-land) {
    font-size: 1.6rem; 
  }

  &-header {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
  }

  &-title {
    font-weight: 600;
    letter-spacing: 0.01rem;
  }
}

.projects-font {
  &-header {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  &-sub {
    font-size: 2.4rem;
    font-weight: 400;
  }

  &-report {
    font-size: 1.4rem;
    color: $color-white;
  }

  &-all {
    font-size: 1.8rem;
    color: $color-orange;
  } 
}

.donate-font {
  &-header {
    color: $color-black; 
    font-size: 2.6rem;
    font-weight: 400;
  }

  &-title {
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 500;
  }

  &-caption {
    color: $color-white;
    font-size: 1.2rem;
  }
}

.footer-font {
  letter-spacing: 2px;
  color: $color-white;
 
  &-copyright {
    font-size: 1.4rem;

    &-icon {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
