//* Alignment
.center-text {
  text-align: center;
}

//* Margin
.land-margin {
  margin-top: 6%; 
}

.service-margin {
  margin-top: 1%; 
}

.project-margin {
  margin-top: 4%;

  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.project-margin-left {
  margin-left: 2%;
}

.project-margin-top {
  margin-top: 3%;

  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.project-margin-drop {
  @include respond(nex-7) {
    margin-top: 6%;
  }
}

.contact-margin-top {  
  margin-top: 4%;
}

.contact2-margin-top {
  margin-top: 5%;
}

.title-margin {
  margin: 3% 0 2% 0;  
}

.header-margin {
  margin: 3% 0 2% 0;  

  @include respond(nex-7) {
    margin: 6% 0 5% 0; 
  }
}

.project-title-margin {
  margin-bottom: 1%;  
}

.amount-margin {
  margin-bottom: 2%; 
}

.copyright-margin {
  margin: 0 0.4%;
}

//* Color
.blue-bg {
  background-color: #0f4082;
}

.grey-bg {
  background-color: #5b5c5c; 
}

.orange-color {
  color: $color-orange; 
} 