// COLORS
$color-blue: #488BE4;
$color-orange: #E4AE48;
$color-grey-dark: #777; 
$color-black: #000;
$color-white: #fff;
$color-bg-dark: rgba(0, 0, 0, 0.6);  

// Image
$image-height: 90vh;
$s-laptop-height: 68vh; 
$tab-l-height: 45vh;
$l-phone-height: 24vh;