.header {
  position: relative;

  &__background {
    background-color: rgba(0, 0, 0, 0.45); 
    height: $image-height;
    width: 100%;
    position: absolute;

    @include respond(s-laptop) {
      height: $s-laptop-height;
    }

    @include respond(tab-land) {
      height: $tab-l-height;
    }
  }

  &__image {

    &__img {
      height: $image-height;
      object-fit: cover; 
      width: 100%;

      @include respond(s-laptop) {
        height: $s-laptop-height;
      }

      @include respond(tab-land) {
        height: $tab-l-height;
      }
    }
  }
  
  &__text {
    color: $color-white;
    display: inline-table;
    font-size: 8.5vh;
    font-weight: 500; 
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);

    @include respond(s-laptop) {
      font-size: 6.5vh;
    }

    @include respond(tab-land) {
      font-size: 3.5vh;
    }
  }

  &__button {
    @include position;
  }
}
